<p id="notice"><%= notice %></p>

<p>
  <strong>Rolename:</strong>
  <%= @project_role.rolename %>
</p>

<%= link_to 'Edit', edit_project_role_path(@project_role) %> |
<%= link_to 'Back', project_roles_path %>
